/* Light Theme */
:root {
  --background-color: white;
  --text-color: black;
  --link-color: darkred;
}

/* Dark Theme */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
